.header {
	height: 50px;
	background-color: cyan;
}

.headertitle {
	
}

li {
	text-align: left;
}


#clearItem {
	float: right;
}

.listcheckbox {
	float: left;
}

.itemName{
	padding-left: 8px;
}

.pagesection{
	border-color: tan;
	border-width: 2px;
	border-style: dashed;
}
.whiteout {
	background-color: white;
}

.buttongroup {
	text-align: center;
	padding-bottom: 2em;
}

.list-group-item.customdisabled {
  color: #777;
  /*cursor: not-allowed;*/
  background-color: lightpink;
}

/*div {
	border-color: red;
	border-width: 1px;
	border-style: solid;
}*/

/** {
  outline: red 1px solid;
}*/

body {
  padding-top: 50px;
}
