li {
	text-align: left;
}


#clearItem {
	float: right;
}

.listcheckbox {
	float: left;
}

.itemName{
	padding-left: 8px;
}

.pagesection{
	border-color: tan;
	border-width: 2px;
	border-style: dashed;
}

#myListHeading {
	text-align: left;
	color: tan;
}

.buttongroup {
	text-align: center;
	padding-bottom: 2em;
	font-size: 4px;
}

.buttongroup button {
	text-align: left;
	margin-right: 10px;
	margin-bottom: 1em;
	font-size: 20px;
	width: 110px;
}

.list-group-item.purchased {
	text-decoration: line-through;
	color: #777;
  	background-color: lightpink;	
}

/*div {
	border-color: red;
	border-width: 1px;
	border-style: solid;
}*/

/** {
  outline: red 1px solid;
}*/

body {
  padding-top: 50px;
}
